body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    
}
h1 {margin-top: 300px;
    margin-left: 0px;
    text-align: center;
    border: 1px black
}
button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}
